:root {
  --main-color: rgb(83, 158, 52);
  --secondry-color: #DDD;
}
*::selection {
  background-color:#eee;
  color: var(--main-color);
}
.overflow {
  overflow: hidden;
  direction: ltr;
}
img {
  user-select: none;
}
body {
  margin: 0;
  direction: rtl;
  overflow-x: hidden;
  font-family: sans-serif;
  overflow: hidden;
  height: 100vh;
}
.visible {
  height: fit-content;
}
.pre-loader {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: white;
  position: relative;
  z-index: 1000;
}
.pre-loader .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pre-loader .barcode {
  animation: barcode 2s ease-out;
  position: relative;
  width: 1px;
  height: 50px;
  background: white;
  animation-fill-mode: forwards;
  text-align: center;
  transition: 5s;background: linear-gradient(
    to right,
    white 0%,
    white 5%,
    black 5%,
    black 7%,
    white 7%,
    white 10%,
    black 10%,
    black 13%,
    white 13%,
    white 17%,
    black 17%,
    black 22%,
    white 22%,
    white 25%,
    black 25%,
    black 26%,
    white 26%,
    white 29%,
    black 29%,
    black 31%,
    white 31%,
    white 33%,
    black 33%,
    white 33%,
    white 35%,
    black 35%,
    black 36%,
    white 36%,
    white 38%,
    black 38%,
    black 43%,
    white 43%,
    white 45%,
    black 45%,
    black 46%,
    white 46%,
    white 48%,
    black 48%,
    black 49%,
    white 49%,
    white 53%,
    black 53%,
    black 56%,
    white 56%,
    white 58%,
    black 58%,
    white 58%,
    white 60%,
    black 60%,
    black 62%,
    black 62%,
    white 62%,
    white 65%,
    black 65%,
    black 67%,
    white 67%,
    white 69%,
    black 69%,
    black 73%,
    white 73%,
    white 75%,
    black 75%,
    black 76%,
    white 76%,
    white 78%,
    black 78%,
    black 80%,
    white 80%,
    white 82%,
    black 82%,
    white 82%,
    white 85%,
    black 85%,
    black 88%,
    white 88%,
    white 91%,
    black 91%,
    black 93%,
    white 93%,
    white 95%,
    black 95%,
    black 100%
  );
}
.pre-loader .barcode::before {
  content: '7290000000';
  opacity: 0;
  position: absolute;
  bottom: -55px;
  right: 0;
  letter-spacing: .3cap;
  font-size: 30px;
  width: 80%;
  margin: 0 8% 0 12% ;
  animation: barcode-text 2s ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes barcode-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes barcode {
  0% { width: 0px; }
  100% { width: 350px; }
  
}
@keyframes barcode-phone {
  0% { width: 0px; }
  100% { width: 250px; }
  
}
a {
  color: currentColor;
  text-decoration: none;
}
.none {
  display: none;
}
.pre-loader .text {
  color: var(--main-color);
  font-weight: bold;
  font-size: 150px;
  padding: 20px;
  text-align: center;
  margin-bottom: 100px;
  animation: text 2s ease-out;
  animation-fill-mode: forwards;
}
@media (max-width: 414px) {
  .pre-loader .barcode {
    animation-name: barcode-phone;
  }
  .pre-loader .barcode::before {
    font-size: 25px;
  }
  .pre-loader .text {
    font-size: 100px;
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 15px;
  scrollbar-color: var(--main-color) rgba(238, 238, 238);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: rgba(238, 238, 238);
}

::-webkit-scrollbar-button {
  background-color: rgb(199, 199, 199);
}

/* phone nav bar start  */
.down-menu {
  width: 100%;
  height: 35px;
  z-index: 3;
  position: absolute;
  left: 0;
  top: -200px;
  transition: .7s;
}
.down-menu-clicked {
  top: 87px;
}
.down-menu-ul {
  margin: 0px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
  background: white;
}
.down-menu-ul .link a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 3px;
}
.down-menu-ul .link {
  padding: 5px;
  margin-bottom: 5px;
}
.down-menu-ul .link a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: var(--main-color);
  transition: 0.54s ease-in-out;
}
.down-menu-ul .link a:hover::before {
  transition: 0.5s;
  right: 0;
  width: 100%;
}
.contact-links {
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--main-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.contact-links > div i {
  color: white;
  font-size: 27px;
}
.header .icon {
  width: 35px;
  display: none;
  flex-direction: column;
  direction: ltr;
}
.header nav .links .icon span {
  width: 100%;
  height: 2px;
  margin: 4px;
  background-color: white;
  transition: .5s;
}
.header nav .links .icon .first-x-class {
  height: 3px;
  width: 90%;
  transform: rotate(45deg);
  margin: -6.5px;
}
.header nav .links .icon .second-x-class {
  opacity: 0;
}
.header nav .links .icon .third-x-class{
  height: 3px;
  width: 90%;
  transform: rotate(-45deg);
  margin: -7px;
}
/* phone nav bar end  */
/* main header styles  */
.header {
  background-color: #eeeeee86;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}
.header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  padding: 15px;
  border-bottom: 2px solid var(--main-color);
}
.header .logo {
  height: 55px;
  border-radius: 50%;
}
.header nav ul {
  display: flex;
}
.header nav ul li {
  margin: 0 10px;
  list-style: none;
}
.header nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  font-weight: bold;
  padding-bottom: 2px;
  font-size: 18px;
}
.header nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: white;
  transition: 0.44s ease-in-out;
}

.header nav ul li a:hover::before {
  transition: 0.4s;
  right: 0;
  width: 100%;
}
 /* end header styles  */
 /* start landing page  */
.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  background-image: linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.7), rgb(0,0,0,0.8)), url("../images/alaqsa.jpg");
  background-size: cover;
  z-index: -1;
}
.landing-text {
  margin: 20px;
  margin-right: 40px;
  margin-top: -75px;
  z-index: 2;
}
.landing-text h1 {
  font-size: 170px;
  color: var(--main-color);
  margin-bottom: 0px;
}
.landing-text p {
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 25px;
  color: white;
  font-weight: 600;
  padding: 0 2px;
}
.landing .landing-text .boxes {
  display: flex;
  justify-content: space-evenly;
}
.landing .landing-text .boxes .box img {
  width: 110px;
  border-radius: 3px;
}
.landing .landing-text .boxes .box-3 img {
  border-radius: 5px;
}
.landing .landing-main {
  font-size: 280px;
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  font-family: sans-serif;
  margin-top: -43px;
  margin-left: 45px;
  position: relative;
  z-index: 2;
}
.landing .landing-main::before {
  content: "download";
  width: 100%;
  font-size: 95px;
  position: absolute;
  bottom: -35px;
}
/* end landing styles  */
 /* start image slider */

.dont-forget h1 {
  text-align: center;
  background: linear-gradient(
    to left,
    white 0%,
    white 50%,
    var(--main-color) 50%,
    var(--main-color) 100%
  );
  font-size: 75px;
  color: var(--main-color);
  font-weight: bold;
  margin: 0px;
  padding-top: 60px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.dont-forget h1 span {
  color: white
}

.container-of-images {
  margin: 0;
  padding: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to left,
    white 0%,
    white 50%,
    var(--main-color) 50%,
    var(--main-color) 100%
  );
  position: relative;
  direction: ltr;
} 
.slider-img {
  width: 800px;
  height: 450px;
}
.slider {
  width: 800px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 450px;
  display: flex;
}

.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 1.5s;
}
.slider {
  position: relative;
}
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-bottom: -40px;
  top: 90%;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: var(--main-color);
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}
#radio5:checked ~ .first{
  margin-left: -80%;
}
#radio6:checked ~ .first{
  margin-left: -100%;
}
#radio7:checked ~ .first{
  margin-left: -120%;
}


.navigation-auto {
  position: absolute;
  width: 800px;
  margin-bottom: -40px;
  top: 90%;
  display: flex;
  justify-content: center;
}
.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4,
#radio5:checked ~ .navigation-auto .auto-btn5,
#radio6:checked ~ .navigation-auto .auto-btn6,
#radio7:checked ~ .navigation-auto .auto-btn7 {
  background-color: var(--main-color);
}

/* end image slider  */
/* start companies section  */
.company-section {
  background-color: rgb(247, 247, 247);
  padding-bottom: 20px;
}
.main-text {
  font-size: 75px;
  text-align: center;
  font-weight: bold;
  color: var(--main-color);
  margin: 0;
  padding: 25px;
}
.company-section .sections-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box-container a {
  width: 100%;
  text-decoration: none;
  box-shadow: 4px 4px 6px var(--secondry-color);
  border-radius: 15px;
}
.box-container {
  cursor: pointer;
  width: calc(100% / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 236);
  border-radius: 15px;

}
.box-container .img-text-container img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: .5s;
}
.box-container .img-text-container {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.box-container a .img-text-container .text h3 {
  font-size: 25px;
  color: var(--main-color);
  font-weight: bold;
}
.box-container a .img-text-container .text p {
  font-size: 20px;
  max-width: 85%;
  font-weight: bold;
  color: black;
  margin: 20px calc(15% / 2);
}

/* end companies section  */
/* why boycott  */
.why-boycott {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.why-boycott .text {
  width: 70%;
  margin-top: -40px;
}
.why-boycott .text p{ 
  color: #444;
  font-size: 2rem;
  text-align: center;
}
.why-boycott .text p span {
  color: var(--main-color);
}
.why-boycott .text .boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.why-boycott .text .boxes .box {
  background-color: transparent;
  border: 2px solid #ddd;
  color: var(--main-color);
  margin-bottom: 30px;
  border-radius: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  transition: .7s;
}
.why-boycott .text .boxes .box::before {
  content: "";
  width: 0px;
  height: 100%;;
  background-color: #ddd; 
  position: absolute;
  top: 0;
  left: 0;
  transition: .7s;
  border-radius: 10px;
  z-index: -1;
  background-color: var(--main-color);
}
.why-boycott .text .boxes .box:hover::before {
  width: 100%;
  right: 0;
}
.why-boycott .text .boxes .box:hover {
  color: white;
  border-color: var(--main-color);
  box-shadow: 0px 0px 5px var(--main-color);
}
/* end why boycot  t*/
/* contact us  */
.contact-us {
  background-color: rgb(247, 247, 247);
}
.contact-us .contact-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.contact-us .contact-container .contact {
  flex-basis: 50%;
  border-left: 2px solid var(--main-color);
}
.contact-us .contact-container .contact h1 {
  color: #444;
  font-size: 50px;
  margin-top: 0;
  font-weight: bold;
}

.contact-us .contact-container .contact .contact-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-us .contact-content .icon-container a {
  text-decoration: none;
  color: currentColor;
  display: flex;
  align-items: center;
  padding: 5px;
}
.contact-us .contact-content i {
  font-size: 30px;
  color: var(--main-color);
  margin-left: 8px;
}
.contact-us .developers {
  flex-basis: 50%;
}

.contact-us .developers h1 {
  color: #444;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
}
.contact-us .developers .contact-content {
  padding-right: 20px;
}
.contact-us .developers .sponsers .sponser-text {
  color: #444;
  font-size: 20px;
  padding: 12px;
  font-weight: bold;
}
.contact-us .developers .sponsers .sponser-text span {
  font-weight: lighter;
}
/* end contact us  */
/* start footer  */



.footer {
  width: 100%;
  background-color: var(--main-color);
  direction: ltr;
}
.footer .copy-right {
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  color: var(--secondry-color);
  font-weight: bold;
}
.footer .copy-right span {
  color: #333;
}

/* end footer  */
/* media queries */
@media (max-width: 767px) {
  .header nav ul{
    display: none;
  }
  .header nav .links .icon {
    display: flex;
  }
}
@media (max-width: 1074px) {
    
  .landing .landing-main {
    font-size: 240px;
  }
  .landing .landing-text h1 {
    font-size: 150px;
  }
  .landing .landing-text p {
    font-size: 34px;
  }
@media (max-width: 921px) {
  .landing {
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.7), rgb(0,0,0,0.8)), url("../images/alaqsaaPhone.jfif");
  }
  .landing-text {
    text-align: center;
    margin: 20px;
  }
  .landing .landing-text h1 {
    font-size: 100px;
  }
  .landing .landing-text p {
    font-size: 30px;
  }
  .landing .landing-main {
    font-size: 150px;
    margin-left: 0px;
  }
  .landing .landing-main::before {
    font-size: 55px;
    bottom: -20px
  }
  .header nav ul li a::before {
    background-color: white;
  }
  
}
@media (max-width: 767px) {
    .landing-text {
        margin: 0px
    }
  .landing .landing-text h1 {
    font-size: 80px;
  }
  .landing .landing-text p {
    font-size: 23px;
  }
  .header nav ul li a {
    font-size: 12px;
  }
  .landing .landing-main {
    font-size: 120px;
  }
  .landing .landing-main::before {
    font-size: 45px;
  }
  .why-boycott .text p {
    margin-bottom: 40px;
    font-size: 25px;
  }
}
@media (max-width: 799px) {
  .slider-img,
  .slider {
    width: 700px;
    height: 400px;
}
}
@media (max-width: 699px) {
  .slider-img,
  .slider {
    width: 600px;
    height: 350px;
}
.navigation-manual,
.navigation-auto {
  width: 600px;
}
.landing .landing-text .boxes .box img {
margin-right: 15px;
}
}
@media (max-width: 599px) {
  .slider-img,
  .slider {
    width: 100vw;
    height: 300px;
}
.navigation-manual,
.navigation-auto {
  width: 575px;
}
}
@media (max-width: 499px) {
  .slider-img,
  .slider {
    height: 300px;
}
.navigation-manual,
.navigation-auto {
  width: 430px;
}
.header .logo {
  height: 35px;
}
.header nav .icon {
  width: 30px;
}
.down-menu-small-clicked {
  top: 67px;
}
.container-of-images {
  height: 75vh;
}
}
@media (max-width: 399px) {
  .dont-forget h1 {
    font-size: 50px;
  }
  .slider-img,
  .slider {
    height: 300px;
}
.navigation-manual,
.navigation-auto {
  width: 384px;
}
  .navigation-auto div,
  .manual-btn {
    padding: 3.5px;
    margin-right: 30px;
  }
}
@media (max-width: 655px) {
  .text .boxes {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .box-container {
    width: calc(100% / 2.5);
    margin-top: 15px;
  }
  .landing .landing-text .boxes .box img {
    width: 85px;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .box-container {
    width: 80%;
  }
  .main-text {
    font-size: 60px;
  }
  .dont-forget h1 {
    margin-bottom: -40px;
    z-index: 100;
    position: relative;
    font-size: 60px;
}
}
@media (max-width: 320px) {
  .navigation-manual,
  .navigation-auto {
    width: 320px;
  }
  .slider-img,
  .slider {
    height: 250px;
  }
  .dont-forget h1 {
    font-size: 45px;
  }
  .main-text {
    font-size: 50px;
  }
  .contact-us .contact-container .contact h1 {
    font-size: 25px;
  }
}
@media (max-width: 940px) {
  .contact-us .contact-container .contact h1,
  .contact-us .developers h1 {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .contact-us .contact-container .contact h1,
  .contact-us .developers h1 {
    font-size: 30px;
  }
  .contact-us .contact-content i {
    font-size: 20px;
  }
  .contact-us .developers .sponsers .sponser-text {
    font-size: 20px;
  }
  .contact-us .developers .sponsers .sponser-text span {
    font-size: 18px;
  }
}
@media (max-width: 574px) {
  .contact-us .contact-container {
    flex-direction: column;
  }
  .contact-us .contact-container .contact {
    border: none;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 20px;
  }
}
